*.exe
*.dll
*.txt
*.bak
*.elf
.vs/
.vscode/
*.gz
*.data
*.dat
/prime_progs/fast_sieve
/mono/BinaryFileStreamIO.cs.orig
/mono/BinaryFileStreamIO.cs.patchfile
mono/Microsoft.Net.Compilers.Toolset.3.5.0/
mono/Microsoft.Net.Compilers.Toolset.3.8.0-4.final/
/prime_progs/mpz_powm_neg-exp
/prime_progs/sieve.c.orig
/prime_progs/c60*
/prime_progs/c37*
*.obj
*.pdb
*.ini
*.dmp
*.log
*.txt
*.zip
*.poly
*.out
bin/
obj/
gamma
*.n
*.fb
*.poly
c??.*
c100*
