*.exe
*.dll
*.txt
*.bak
*.elf
.vs/
.vscode/
*.gz
*.data
/mono/BinaryFileStreamIO.cs.orig
/mono/BinaryFileStreamIO.cs.patchfile
mono/Microsoft.Net.Compilers.Toolset.3.5.0/
*.obj
*.pdb
*.ini
*.dmp
*.log
*.txt
*.zip
bin/
obj/